// Color variables

// Primary
$cyan : hsl(172, 67%, 45%); //? Selected buttton

// Neutral
$cyan-1 : hsl(183, 100%, 15%);  //? Button , Display
$cyan-2 : hsl(186, 14%, 43%);   //? Text
$cyan-3 : hsl(184, 14%, 56%);   //? Display sub text
$cyan-4 : hsl(185, 41%, 84%);   //? Background color
$cyan-5 : hsl(189, 41%, 97%);   //? Input background color

// Border radius
$br-5 : 5px;    //? Input , Button
$br-15 : 15px;  //? Display
$br-25 : 25px;  //? Main App